<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finding Dory</title>
</head>
<body>
<body background="/static/images/water.jpg">
<h2>Purpose</h2>
<p>This website integrates information from other websites about fishing vessels. The interface can be used to search for information on a vessel suspected of illegal, unreported or unregulated (IUU) fishing.</p>

<h2>Search</h2>
<p>Enter information about the vessel you are interested in below. Fields left blank are ignored.</p>
<form action="/submit" method="get">
    Vessel name:
    <input type="text" name="vesselName"><br><br>
    Gear type:
    <select name="gearType">
        <option></option>
        <option value="Gillnet">Gillnet</option>
        <option value="Harpoon">Harpoon</option>
        <option value="Longline">Longline</option>
        <option value="Pole and line">Pole and line</option>
        <option value="Purse Seine">Purse Seine</option>
        <option value="Stern Trawler">Stern Trawler</option>
        <option value="Trawler">Trawler</option>
        <option value="Troll">Troll</option>
    </select><br><br>
    Flag:
    <input type="text" name="flag"><br><br>
    Length (ft.) is at least <input type="number" name="minLength"> and not longer than <input type="number" name="maxLength">.<br><br>
    Sort By:
    <select name="sortKey">
        <option value="vesselName">Vessel Name</option>
        <option value="gearType">Gear Type</option>
        <option value="flag">Flag</option>
        <option value="length">Length</option>
    </select><br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>